<script type="text/javascript">
    var preventDefault = true;
    var fastCheckoutCc = '{$xt_paymill.fast_checkout_cc}';
    var fastCheckoutElv = '{$xt_paymill.fast_checkout_elv}';
    var PAYMILL_PUBLIC_KEY = '{$smarty.const.XT_PAYMILL_PUBLIC_API_KEY|trim}';
    var debug = '{$smarty.const.XT_PAYMILL_DEBUG_MODE}';
    var paymentCode = '{$payment_code}';
    var amount = "{$xt_paymill.amount}";
    var currency = "{$xt_paymill.currency}";
    var lang = new Array();
    // Paymill cc js lang
    lang['card_number_invalid'] = '{$smarty.const.TEXT_PAYMILL_CC_ERR_NUMBER}';
    lang['verfication_number_invalid'] = '{$smarty.const.TEXT_PAYMILL_CC_ERR_CVC}';
    lang['expiration_date_invalid'] = '{$smarty.const.TEXT_PAYMILL_CC_ERR_DATE}';
    lang['card_holder_invalid'] = '{$smarty.const.TEXT_PAYMILL_CC_ERR_HOLDER}';
    lang['PAYMILL_internal_server_error'] = '{$smarty.const.PAYMILL_INTERNAL_SERVER_ERROR}';
    lang['PAYMILL_invalid_public_key'] = '{$smarty.const.PAYMILL_INVALID_PUBLIC_KEY}';
    lang['PAYMILL_invalid_payment_data'] = '{$smarty.const.PAYMILL_INVALID_PAYMENT_DATA}';
    lang['PAYMILL_unknown_error'] = '{$smarty.const.PAYMILL_UNKNOWN_ERROR}';
    lang['PAYMILL_3ds_cancelled'] = '{$smarty.const.PAYMILL_3DS_CANCELLED}';
    lang['PAYMILL_field_invalid_card_number'] = '{$smarty.const.PAYMILL_FIELD_INVALID_CARD_NUMBER}';
    lang['PAYMILL_field_invalid_card_exp_year'] = '{$smarty.const.PAYMILL_FIELD_INVALID_CARD_EXP_YEAR}';
    lang['PAYMILL_field_invalid_card_exp_month'] = '{$smarty.const.PAYMILL_FIELD_INVALID_CARD_EXP_MONTH}';
    lang['PAYMILL_field_invalid_card_exp'] = '{$smarty.const.PAYMILL_FIELD_INVALID_CARD_EXP}';
    lang['PAYMILL_field_invalid_card_cvc'] = '{$smarty.const.PAYMILL_FIELD_INVALID_CARD_CVC}';
    lang['PAYMILL_field_invalid_card_holder'] = '{$smarty.const.PAYMILL_FIELD_INVALID_CARD_HOLDER}';
    lang['PAYMILL_field_invalid_amount_int'] = '{$smarty.const.PAYMILL_FIELD_INVALID_AMOUNT_INT}';
    lang['PAYMILL_field_field_invalid_amount'] = '{$smarty.const.PAYMILL_FIELD_FIELD_INVALID_AMOUNT}';
    lang['PAYMILL_field_field_field_invalid_currency'] = '{$smarty.const.PAYMILL_FIELD_FIELD_FIELD_INVALID_CURRENCY}';
    lang['PAYMILL_field_invalid_account_number'] = '{$smarty.const.PAYMILL_FIELD_INVALID_ACCOUNT_NUMBER}';
    lang['PAYMILL_field_invalid_account_holder'] = '{$smarty.const.PAYMILL_FIELD_INVALID_ACCOUNT_HOLDER}';
    lang['PAYMILL_field_invalid_bank_code'] = '{$smarty.const.PAYMILL_FIELD_INVALID_BANK_CODE}';
    lang['PAYMILL_field_invalid_iban'] = '{$smarty.const.PAYMILL_FIELD_INVALID_IBAN}';
    lang['PAYMILL_field_invalid_bic'] = '{$smarty.const.PAYMILL_FIELD_INVALID_BIC}';
    lang['PAYMILL_field_invalid_country'] = '{$smarty.const.PAYMILL_FIELD_INVALID_COUNTRY}';
    lang['PAYMILL_field_invalid_bank_data'] = '{$smarty.const.PAYMILL_FIELD_INVALID_BANK_DATA}';
</script>
<link rel="stylesheet" type="text/css" href="plugins/xt_paymill/css/paymill.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="https://bridge.paymill.com/"></script>
<script type="text/javascript" src="plugins/xt_paymill/js/payment.js"></script>
<script type="text/javascript" src="plugins/xt_paymill/js/cc.js"></script>
<div style="position: relative; left: 55%;">
    <div id="payment-errors-cc" class="payment-error"></div>
    <div class="paymill-input-label">
        <label>{$smarty.const.TEXT_PAYMILL_CC_CCNR}</label>
    </div>
    <span class="card-icon-parent">
        <span><input id="paymill-card-number" class="paymill-input{if $xt_paymill.card_brand} paymill-card-number-{$xt_paymill.card_brand|lower}{/if}" type="text" size="20" value="{$xt_paymill.cc_number}"/></span>
    </span>
    <div id="payment-error-cc-1" class="payment-error"></div>
    <div class="paymill-input-label">
        <label>{$smarty.const.TEXT_PAYMILL_CC_CVC}</label><span class="tooltip" title="{$smarty.const.TEXT_PAYMILL_CC_TOOLTIP}">?</span>
    </div>
    <input id="paymill-card-cvc" class="paymill-input" type="text" size="20" value="{$xt_paymill.cvc}"/>
    <div id="payment-error-cc-2" class="payment-error"></div>
    <div class="paymill-input-label">
        <label>{$smarty.const.TEXT_PAYMILL_CC_HOLDER}</label>
    </div>
    <input id="paymill-card-holdername" class="paymill-input" type="text" size="20" value="{$xt_paymill.card_holder}"/>
    <div id="payment-error-cc-3" class="payment-error"></div>
    <div class="paymill-input-label">
        <label>{$smarty.const.TEXT_PAYMILL_CC_DATE}</label>
    </div>
    {html_select_date display_days=false end_year='+15' field_separator=' / ' prefix='Paymill_' time=$xt_paymill.expire_date}
    <div id="payment-error-cc-4" class="payment-error"></div>
</div>