<script type="text/javascript">
    var preventDefault = true;
    var fastCheckoutCc = '{$xt_paymill.fast_checkout_cc}';
    var fastCheckoutElv = '{$xt_paymill.fast_checkout_elv}';
    var PAYMILL_PUBLIC_KEY = '{$smarty.const.XT_PAYMILL_PUBLIC_API_KEY|trim}';
    var debug = '{$smarty.const.XT_PAYMILL_DEBUG_MODE}';
    var paymentCode = '{$payment_code}';
    var amount = "{$xt_paymill.amount}";
    var currency = "{$xt_paymill.currency}";
    var expYear = '{$xt_paymill.expire_year}';
    var expMonth = '{$xt_paymill.expire_month}';
    var lang = new Array();
    // Paymill cc js lang
    lang['card_number_invalid'] = {$smarty.const.TEXT_PAYMILL_CC_ERR_NUMBER|json_encode};
    lang['verfication_number_invalid'] = {$smarty.const.TEXT_PAYMILL_CC_ERR_CVC|json_encode};
    lang['expiration_date_invalid'] = {$smarty.const.TEXT_PAYMILL_CC_ERR_DATE|json_encode};
    lang['card_holder_invalid'] = {$smarty.const.TEXT_PAYMILL_CC_ERR_HOLDER|json_encode};
    lang['PAYMILL_internal_server_error'] = {$smarty.const.PAYMILL_INTERNAL_SERVER_ERROR|json_encode};
    lang['PAYMILL_invalid_public_key'] = {$smarty.const.PAYMILL_INVALID_PUBLIC_KEY|json_encode};
    lang['PAYMILL_invalid_payment_data'] = {$smarty.const.PAYMILL_INVALID_PAYMENT_DATA|json_encode};
    lang['PAYMILL_unknown_error'] = {$smarty.const.PAYMILL_UNKNOWN_ERROR|json_encode};
    lang['PAYMILL_3ds_cancelled'] = {$smarty.const.PAYMILL_3DS_CANCELLED|json_encode};
    lang['PAYMILL_field_invalid_card_number'] = {$smarty.const.PAYMILL_FIELD_INVALID_CARD_NUMBER|json_encode};
    lang['PAYMILL_field_invalid_card_exp_year'] = {$smarty.const.PAYMILL_FIELD_INVALID_CARD_EXP_YEAR|json_encode};
    lang['PAYMILL_field_invalid_card_exp_month'] = {$smarty.const.PAYMILL_FIELD_INVALID_CARD_EXP_MONTH|json_encode};
    lang['PAYMILL_field_invalid_card_exp'] = {$smarty.const.PAYMILL_FIELD_INVALID_CARD_EXP|json_encode};
    lang['PAYMILL_field_invalid_card_cvc'] = {$smarty.const.PAYMILL_FIELD_INVALID_CARD_CVC|json_encode};
    lang['PAYMILL_field_invalid_card_holder'] = {$smarty.const.PAYMILL_FIELD_INVALID_CARD_HOLDER|json_encode};
    lang['PAYMILL_field_invalid_amount_int'] = {$smarty.const.PAYMILL_FIELD_INVALID_AMOUNT_INT|json_encode};
    lang['PAYMILL_field_field_invalid_amount'] = {$smarty.const.PAYMILL_FIELD_FIELD_INVALID_AMOUNT|json_encode};
    lang['PAYMILL_field_field_field_invalid_currency'] = {$smarty.const.PAYMILL_FIELD_FIELD_FIELD_INVALID_CURRENCY|json_encode};
    lang['PAYMILL_field_invalid_account_number'] = {$smarty.const.PAYMILL_FIELD_INVALID_ACCOUNT_NUMBER|json_encode};
    lang['PAYMILL_field_invalid_account_holder'] = {$smarty.const.PAYMILL_FIELD_INVALID_ACCOUNT_HOLDER|json_encode};
    lang['PAYMILL_field_invalid_bank_code'] = {$smarty.const.PAYMILL_FIELD_INVALID_BANK_CODE|json_encode};
    lang['PAYMILL_field_invalid_iban'] = {$smarty.const.PAYMILL_FIELD_INVALID_IBAN|json_encode};
    lang['PAYMILL_field_invalid_bic'] = {$smarty.const.PAYMILL_FIELD_INVALID_BIC|json_encode};
    lang['PAYMILL_field_invalid_country'] = {$smarty.const.PAYMILL_FIELD_INVALID_COUNTRY|json_encode};
    lang['PAYMILL_field_invalid_bank_data'] = {$smarty.const.PAYMILL_FIELD_INVALID_BANK_DATA|json_encode};
    lang['iframe_lang'] = {$smarty.const.TEXT_PAYMILL_CC_IFRAME_LANG|json_encode};
    
    var logos =  new Array();
    logos['amex'] = {$smarty.const.XT_PAYMILL_LOGO_AMEX|string_format:"%d"};
    logos['carta-si'] = {$smarty.const.XT_PAYMILL_LOGO_CARTASI|string_format:"%d"};
    logos['dankort'] = {$smarty.const.XT_PAYMILL_LOGO_DANKORT|string_format:"%d"};
    logos['carte-bleue'] = {$smarty.const.XT_PAYMILL_LOGO_CARTEBLEUE|string_format:"%d"};
    logos['discover'] = {$smarty.const.XT_PAYMILL_LOGO_DISCOVER|string_format:"%d"};
    logos['diners-club'] = {$smarty.const.XT_PAYMILL_LOGO_DINERSCLUB|string_format:"%d"};
    logos['china-unionpay'] = {$smarty.const.XT_PAYMILL_LOGO_UNIONPAY|string_format:"%d"};
    logos['maestro'] = {$smarty.const.XT_PAYMILL_LOGO_MAESTRO|string_format:"%d"};
    logos['jcb'] = {$smarty.const.XT_PAYMILL_LOGO_JCB|string_format:"%d"};
    logos['mastercard'] = {$smarty.const.XT_PAYMILL_LOGO_MASTERCARD|string_format:"%d"};
    logos['visa'] = {$smarty.const.XT_PAYMILL_LOGO_VISA|string_format:"%d"};
    
    var allBrandsDisabled = !{$smarty.const.XT_PAYMILL_LOGO_AMEX|string_format:"%d"} && 
                            !{$smarty.const.XT_PAYMILL_LOGO_CARTASI|string_format:"%d"} &&
                            !{$smarty.const.XT_PAYMILL_LOGO_DANKORT|string_format:"%d"} && 
                            !{$smarty.const.XT_PAYMILL_LOGO_CARTEBLEUE|string_format:"%d"} &&
                            !{$smarty.const.XT_PAYMILL_LOGO_DISCOVER|string_format:"%d"} && 
                            !{$smarty.const.XT_PAYMILL_LOGO_DINERSCLUB|string_format:"%d"} &&
                            !{$smarty.const.XT_PAYMILL_LOGO_UNIONPAY|string_format:"%d"} && 
                            !{$smarty.const.XT_PAYMILL_LOGO_MAESTRO|string_format:"%d"} && 
                            !{$smarty.const.XT_PAYMILL_LOGO_JCB|string_format:"%d"} && 
                            !{$smarty.const.XT_PAYMILL_LOGO_MASTERCARD|string_format:"%d"} && 
                            !{$smarty.const.XT_PAYMILL_LOGO_VISA|string_format:"%d"};
    var fastcheckoutChange = false;                        
</script>
<link rel="stylesheet" type="text/css" href="plugins/xt_paymill/css/paymill.css"/>
<script type="text/javascript" src="https://bridge.paymill.com/dss3"></script>
<script type="text/javascript" src="plugins/xt_paymill/js/BrandDetection.js"></script>
<script type="text/javascript" src="plugins/xt_paymill/js/payment.js"></script>
{if $smarty.const.XT_PAYMILL_PCI_MODE|string_format:"%d" == '1'}
    <script type="text/javascript" src="plugins/xt_paymill/js/cc_saq_a_ep.js"></script>
{else}
    <script type="text/javascript" src="plugins/xt_paymill/js/cc_saq_a.js"></script>
{/if}
<div class="paymill-form-container box" id="paymill-cc-inputs">
    {if !$smarty.const.XT_PAYMILL_LOGO_AMEX|string_format:"%d" && 
        !$smarty.const.XT_PAYMILL_LOGO_CARTASI|string_format:"%d" &&
        !$smarty.const.XT_PAYMILL_LOGO_DANKORT|string_format:"%d" && 
        !$smarty.const.XT_PAYMILL_LOGO_CARTEBLEUE|string_format:"%d" &&
        !$smarty.const.XT_PAYMILL_LOGO_DISCOVER|string_format:"%d" && 
        !$smarty.const.XT_PAYMILL_LOGO_DINERSCLUB|string_format:"%d" &&
        !$smarty.const.XT_PAYMILL_LOGO_UNIONPAY|string_format:"%d" && 
        !$smarty.const.XT_PAYMILL_LOGO_MAESTRO|string_format:"%d" && 
        !$smarty.const.XT_PAYMILL_LOGO_JCB|string_format:"%d" && 
        !$smarty.const.XT_PAYMILL_LOGO_MASTERCARD|string_format:"%d" && 
        !$smarty.const.XT_PAYMILL_LOGO_VISA|string_format:"%d"}
    {else} 
        {if $smarty.const.XT_PAYMILL_LOGO_AMEX|string_format:"%d"}
        <img src="plugins/xt_paymill/images/32x20_amex.png" alt="American Express"/>
        {/if}
        {if $smarty.const.XT_PAYMILL_LOGO_CARTASI|string_format:"%d"}
        <img src="plugins/xt_paymill/images/32x20_carta-si.png" alt="Carta Si"/>
        {/if}
        {if $smarty.const.XT_PAYMILL_LOGO_DANKORT|string_format:"%d"}
        <img src="plugins/xt_paymill/images/32x20_dankort.png" alt="Dankort"/>
        {/if}
        {if $smarty.const.XT_PAYMILL_LOGO_CARTEBLEUE|string_format:"%d"}
        <img src="plugins/xt_paymill/images/32x20_carte-bleue.png" alt="Carte Bleue"/>
        {/if}
        {if $smarty.const.XT_PAYMILL_LOGO_DISCOVER|string_format:"%d"}
        <img src="plugins/xt_paymill/images/32x20_discover.png" alt="Discover"/>
        {/if}
        {if $smarty.const.XT_PAYMILL_LOGO_DINERSCLUB|string_format:"%d"}
        <img src="plugins/xt_paymill/images/32x20_dinersclub.png" alt="Diners Club"/>
        {/if}
        {if $smarty.const.XT_PAYMILL_LOGO_UNIONPAY|string_format:"%d"}
        <img src="plugins/xt_paymill/images/32x20_unionpay.png" alt="Unionpay"/>
        {/if}
        {if $smarty.const.XT_PAYMILL_LOGO_MAESTRO|string_format:"%d"}
        <img src="plugins/xt_paymill/images/32x20_maestro.png" alt="Maestro"/>
        {/if}
        {if $smarty.const.XT_PAYMILL_LOGO_JCB|string_format:"%d"}
        <img src="plugins/xt_paymill/images/32x20_jcb.png" alt="JCB"/>
        {/if}
        {if $smarty.const.XT_PAYMILL_LOGO_MASTERCARD|string_format:"%d"}
        <img src="plugins/xt_paymill/images/32x20_mastercard.png" alt="Mastercard"/>
        {/if}
        {if $smarty.const.XT_PAYMILL_LOGO_VISA|string_format:"%d"}
        <img src="plugins/xt_paymill/images/32x20_visa.png" alt="Visa"/>
        {/if}
    {/if}
    {if $smarty.const.XT_PAYMILL_PCI_MODE|string_format:"%d" == '1'}
        <div id="payment-errors-cc" class="payment-error"></div>
        <div class="paymill-input-label">
            <label>{$smarty.const.TEXT_PAYMILL_CC_CCNR}</label>
        </div>
        <span class="card-icon-parent">
            <span><input id="paymill-card-number" class="paymill-input{if $xt_paymill.card_brand} paymill-card-number-{$xt_paymill.card_brand|lower}{/if}" type="text" size="20" value="{$xt_paymill.cc_number}"/></span>
        </span>
        <div id="payment-error-cc-1" class="payment-error"></div>
        <div class="paymill-input-label">
            <label>{$smarty.const.TEXT_PAYMILL_CC_CVC|stripslashes}</label><span class="tooltip" title="{$smarty.const.TEXT_PAYMILL_CC_TOOLTIP|stripslashes}">?</span>
        </div>
        <input id="paymill-card-cvc" class="paymill-input" type="text" size="20" value="{$xt_paymill.cvc}"/>
        <div id="payment-error-cc-2" class="payment-error"></div>
        <div class="paymill-input-label">
            <label>{$smarty.const.TEXT_PAYMILL_CC_HOLDER|stripslashes}</label>
        </div>
        <input id="paymill-card-holdername" class="paymill-input" type="text" size="20" value="{$xt_paymill.card_holder}"/>
        <div id="payment-error-cc-3" class="payment-error"></div>
        <div class="paymill-input-label">
            <label>{$smarty.const.TEXT_PAYMILL_CC_DATE|stripslashes}</label>
        </div>

        <select id="Paymill_Month">
            <option label="{$smarty.const.TEXT_PAYMILL_CC_JANUARY|stripslashes}" value="01">{$smarty.const.TEXT_PAYMILL_CC_JANUARY}</option>
            <option label="{$smarty.const.TEXT_PAYMILL_CC_FEBRUARY|stripslashes}" value="02">{$smarty.const.TEXT_PAYMILL_CC_FEBRUARY}</option>
            <option label="{$smarty.const.TEXT_PAYMILL_CC_MARCH|stripslashes}" value="03">{$smarty.const.TEXT_PAYMILL_CC_MARCH}</option>
            <option label="{$smarty.const.TEXT_PAYMILL_CC_APRIL|stripslashes}" value="04">{$smarty.const.TEXT_PAYMILL_CC_APRIL}</option>
            <option label="{$smarty.const.TEXT_PAYMILL_CC_MAY|stripslashes}" value="05">{$smarty.const.TEXT_PAYMILL_CC_MAY}</option>
            <option label="{$smarty.const.TEXT_PAYMILL_CC_JUNE|stripslashes}" value="06">{$smarty.const.TEXT_PAYMILL_CC_JUNE}</option>
            <option label="{$smarty.const.TEXT_PAYMILL_CC_JULY|stripslashes}" value="07">{$smarty.const.TEXT_PAYMILL_CC_JULY}</option>
            <option label="{$smarty.const.TEXT_PAYMILL_CC_AUGUST|stripslashes}" value="08">{$smarty.const.TEXT_PAYMILL_CC_AUGUST}</option>
            <option label="{$smarty.const.TEXT_PAYMILL_CC_SEPTEMBER|stripslashes}" value="09">{$smarty.const.TEXT_PAYMILL_CC_SEPTEMBER}</option>
            <option label="{$smarty.const.TEXT_PAYMILL_CC_OCTOBER|stripslashes}" value="10">{$smarty.const.TEXT_PAYMILL_CC_OCTOBER}</option>
            <option label="{$smarty.const.TEXT_PAYMILL_CC_NOVEMBER|stripslashes}" value="11">{$smarty.const.TEXT_PAYMILL_CC_NOVEMBER}</option>
            <option label="{$smarty.const.TEXT_PAYMILL_CC_DECEMBER|stripslashes}" value="12">{$smarty.const.TEXT_PAYMILL_CC_DECEMBER}</option>
        </select>
        /
        <select id="Paymill_Year">
            {php} for($year=date("Y");$year<=date("Y")+15;$year++): {/php}
            {php} echo '<option label="' . $year . '" value="' . $year . '">' . $year . '</option>'; {/php}
            {php} endfor; {/php}
        </select>
        <div id="payment-error-cc-4" class="payment-error"></div>
    {else}
        {if $xt_paymill.fast_checkout_cc === 'true'}
            <div id="paymill_fast_checkout_box">
                <div class="paymill-input-label">
                    <label style="font-weight: bold;">{$smarty.const.TEXT_PAYMILL_CC_CCNR}</label>
                </div>
                {$xt_paymill.cc_number}
                <div class="paymill-input-label">
                    <label style="font-weight: bold;">{$smarty.const.TEXT_PAYMILL_CC_CVC|stripslashes}</label>
                </div>
                {$xt_paymill.cvc}
                <div class="paymill-input-label">
                    <label style="font-weight: bold;">{$smarty.const.TEXT_PAYMILL_CC_HOLDER|stripslashes}</label>
                </div>
                {$xt_paymill.card_holder}
                <div class="paymill-input-label">
                    <label style="font-weight: bold;">{$smarty.const.TEXT_PAYMILL_CC_DATE|stripslashes}</label>
                </div>
                {$xt_paymill.expire_month}/{$xt_paymill.expire_year}
                <div class="paymill-input-label">
                    <img src="plugins/xt_paymill/images/32x20_{$xt_paymill.card_brand|lower}.png" alt="{$xt_paymill.card_brand|lower}">
                </div>
                <div class="paymill-input-label">
                    <button id="paymill_fast_checkout_iframe_change" class="button" type="button">{$smarty.const.TEXT_PAYMILL_CC_CHANGE|stripslashes}</button>
                </div>
            </div>
        {/if}
    {/if}
</div>