<table class="paymentblock" width="100%" border="0" cellspacing="0" cellpadding="6">
  <tr>
  	<td class="header">{form type=radio id=paymill_selector name=selected_payment value=$payment_code} <strong>{$payment_name}</strong></td>
    <td class="header" align="right">{$payment_price.formated}</td>
  </tr>

  <tr>
    <td colspan="3">

        <table width="100%" border="0" cellspacing="5" cellpadding="6">

          <tr>
            <td>
              <label>{txt key=TEXT_PAYMILL_CCNR}:</label>
              <input class="card-number" type="text" size="24" />
              <ul id="cardErrors" class="info_error" style="display: none"></ul>
            </td>
          </tr>

          <tr>
            <td>
              <label>{txt key=TEXT_PAYMILL_CVC}:</label>
              <input class="card-cvc" type="text" size="8" />
              <ul id="cvcErrors" class="info_error" style="display: none"></ul>
            </td>
          </tr>

          <tr>
            <td>
              <label>{txt key=TEXT_PAYMILL_DATE}:</label>
              <input class="card-expiry-month" type="text" size="4" />
              <span> / </span>
              <input class="card-expiry-year" type="text" size="8" />
              <ul id="dateErrors" class="info_error" style="display: none"></ul>
            </td>
          </tr>

        </table>

    </td>
  </tr>
</table>

<br />
{literal}
<script type="text/javascript">
    var PAYMILL_PUBLIC_KEY = '{/literal}{$smarty.const.XT_PAYMILL_PUBLIC_API_KEY}{literal}';
</script>
<script type="text/javascript" src="{/literal}{$smarty.const.XT_PAYMILL_BRIDGE_URL}{literal}"></script>
<script type="text/javascript">
{/literal}
{php}$_SESSION['pigmbhPaymill']['3dSecureAmount'] = round($_SESSION['cart']->total_physical['plain'] * 100);{/php}
{literal}
  $(document).ready(function() {
    $('form[name^="payment"]').submit(function(event) {
      var use_paymill = $('#paymill_selector').attr('checked');

      if (!use_paymill) {
        paymill_debug("Do not use Paymill");
        return true;
      } else {
        if (paymill_validate()) {
          paymill_debug("Validation passed");
          paymill.createToken({
            number: $('.card-number').val(),
            exp_month: $('.card-expiry-month').val(),
            exp_year: $('.card-expiry-year').val(),
            cvc: $('.card-cvc').val(),
            amount_int: '{/literal}{php}print round($_SESSION['cart']->total_physical['plain'] * 100);{/php}{literal}',
            currency: '{/literal}{php}$currency = new currency();print strtoupper($currency->code);{/php}{literal}'
          }, paymill_response_handler);
        }
        return false;
      }
    });
  });

  function paymill_validate() {

    paymill_debug("Validation triggered");

    $('#cardErrors').html('').hide();
    $('#cvcErrors').html('').hide();
    $('#dateErrors').html('').hide();

    var error = false;

    var number = $('.card-number').val();
    var exp_month = $('.card-expiry-month').val();
    var exp_year = $('.card-expiry-year').val();
    var cvc = $('.card-cvc').val();


    if (!number) {
      $('#cardErrors').show();
      $('#cardErrors').append('<li class="infoError">{/literal}{txt key=TEXT_PAYMILL_ERR_NR_EMPTY}{literal}</li>');
      error = true;
    } else {
      if (!paymill.validateCardNumber(number)) {
        $('#cardErrors').show();
        $('#cardErrors').append('<li class="infoError">{/literal}{txt key=TEXT_PAYMILL_ERR_NR}{literal}</li>');
        error = true;
      }
    }

    if (!paymill.validateExpiry(exp_month, exp_year)) {
      $('#dateErrors').show();
      $('#dateErrors').append('<li class="infoError">{/literal}{txt key=TEXT_PAYMILL_ERR_DATE}{literal}</li>');
      error = true;
    }

    if (!cvc) {
      $('#cvcErrors').show();
      $('#cvcErrors').append('<li class="infoError">{/literal}{txt key=TEXT_PAYMILL_ERR_CVC_EMPTY}{literal}</li>');
      error = true;
    } else {
      if (!paymill.validateCvc(cvc)) {
        $('#cvcErrors').show();
        $('#cvcErrors').append('<li class="infoError">{/literal}{txt key=TEXT_PAYMILL_ERR_CVC}{literal}</li>');
        error = true;
      }
    }

    return !error;
  }

  function paymill_response_handler(error, result) {

    if (error) {
      paymill_debug("Bridge returned an error: " + error.apierror);
    } else {
      paymill_debug("Bridge returned token " + result.token);
      // Token in das Formular einfügen, damit es an den Server übergeben wird
      $('#paymill_selector').val('{/literal}{$payment_code}{literal}:' + result.token);
      paymill_debug("Submit form");
      $('form[name^="payment"]').get(1).submit();
    }

  }

  function paymill_debug(message) {
    console.log("[PaymillCC] " + message);
  }
</script>
{/literal}