<link rel="stylesheet" type="text/css" href="plugins/xt_paymill/css/paymill.css"/>
{if $smarty.const.XT_PAYMILL_PUBLIC_API_KEY neq '' && $smarty.const.XT_PAYMILL_PRIVATE_API_KEY neq ''}
<div>
    {if $smarty.const.XT_PAYMILL_ACTIVATE_PAYMILLCC eq 'true'}
    <div>
        {if $xt_paymill.error_cc}
        <div class="payment-error" style="display: block;">{$xt_paymill.error_cc}</div>
        {/if}
        <div id="payment-errors-cc" class="payment-error"></div>
        <div class="paymill-header">
            <span>{form type=radio name=selected_payment id=paymill_selector_cc value=$payment_code:cc}</span>
            <span>{$smarty.const.TEXT_PAYMILL_CC_NAME}</span>
            <span style="float: right;">{$payment_price.formated}</span>
        </div>
    </div>
    {/if}
    {if $smarty.const.XT_PAYMILL_ACTIVATE_PAYMILLELV eq 'true'}
    <div class="paymill-elv">
        {if $xt_paymill.error_elv}
        <div class="payment-error" style="display: block;">{$xt_paymill.error_elv}</div>
        {/if}
        <div id="payment-errors-elv" class="payment-error"></div>
        <div class="paymill-header">
            <span>{form type=radio name=selected_payment id=paymill_selector_elv value=$payment_code:dd}</span>
            <span>{$smarty.const.TEXT_PAYMILL_ELV_NAME}</span>
            <span style="float: right;">{$payment_price.formated}</span>
        </div>
    </div>
    {/if}
</div>
{/if}