.paymill_powered 
{
    border: 1px solid #ccc;
    width: 330px;
    height: 35px;
    padding: 4px;
    background: white url('../images/icon_paymill.png') no-repeat center right;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding-top: 15px;
    font-size: 10px;
    margin-top: 8px;
}

.paymill_powered > .paymill_credits 
{
    width: 160px;
    color: #666;
}

.paymill_powered > a 
{
    color: #666;
    text-decoration: underline;
}

.paymill-input-label
{
    font-size: 11px;
    clear: both;
    margin-top: 5px;
    margin-bottom: 5px;
}

.paymill-input
{
    width: 250px;
    height: 20px;
}

#paymill-card-number
{
    margin-right: 5px;
}

#Paymill_Month
{
    width: 155px;
}

#Paymill_Year
{
    width: 82px;
}

.paymill-elv
{
    margin-top: 15px;
}

.payment-error
{
    padding: 2px 4px;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: solid 1px #FBD3C6;
    background: #FDE4E1;
    color: #CB4721;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    display: none;
    width: 300px;
}

.paymill-header
{
    background-color: #DA9401;
    padding: 2px;
    padding-left: 5px;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 3px;
}

.paymill-card-number-visa
{
    background-image: url('../images/32x20_visa.png') !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;
}

.paymill-card-number-mastercard
{
    background-image: url('../images/32x20_mastercard.png') !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;
}

.paymill-card-number-amex
{
    background-image: url('../images/32x20_amex.png') !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;
}

.paymill-card-number-jcb
{
    background-image: url('../images/32x20_jcb.png') !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;
        
}

.paymill-card-number-maestro
{
    background-image: url('../images/32x20_maestro.png') !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;
}

.paymill-card-number-unionpay
{
    background-image: url('../images/32x20_unionpay.png') !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;
}

.paymill-card-number-diners
{
    background-image: url('../images/32x20_dinersclub.png') !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;
}

.paymill-card-number-discover
{
    background-image: url('../images/32x20_discover.png') !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;
}

.tooltip
{
    margin-left: 3px;
    font-size: 11px;
    color: #E2E2E2;
    padding: 0 5px;
    border-radius: 100px;
    background: #636363;
}

.greyscale
{
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */ 
    filter: gray; /* IE6-9 */ 
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}